.m-color {
    color: rgb(246, 117, 94);
}
.m-bg-color {
    background-color: rgb(246, 117, 94);
}
.s-color {
    color: rgb(37, 162, 195);
}
.s-bg-color {
    background-color: rgb(37, 162, 195);
}
