:root {
    --main-color:  rgb(246, 117, 94);
    --secound-color: rgb(37, 162, 195);
    --trasition: 0.5s;
}
.header {
    min-height: 96px;
}
body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
input {
    outline: none;
}
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;  
}
.header {
    box-shadow: 0px 1px 5px -1px #0000001a;
}
.header h2 {
    font-family: 'Dancing Script', cursive;
}
.header button {
    outline: none;
    height: fit-content;
    border: 0.5px solid rgba(0, 0, 0, 0.193);
    font-weight: 400;
    border-radius: 2px;
    opacity: 0.5;
    background-color: white;
    transition: var(--trasition);
}
.header button:hover {
    background-color: #eee;
}
.bars{
    cursor: pointer;
    opacity: 0.3;
    box-shadow: 0 0 0 0 black;
}
.left {
    background-color: var(--secound-color);
    transition: 1s;
}

.left ul li {
    padding: 15px 200px 20px 0px;
}
.left ul li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.343);
}
.left ul li a {
    color: white;
    opacity: 0.75;
    transition: var(--trasition);
}
.left ul li a:hover {
    opacity: 1;
}
.left i:hover {
    opacity: 1;
}
.componntBtn {
    outline: none;
    height: fit-content;
    border: 0.5px solid rgba(0, 0, 0, 0.193);
    font-weight: 400;
    border-radius: 4px;
    background-color: var(--main-color);
    transition: var(--trasition);
    margin: auto;
    color: white;
    padding: 10px 50px;
    max-height: fit-content;
    cursor: pointer;
    text-align: center;
}
.componntBtn:hover {
    background-color: rgb(227, 129, 112);
}
.componntBtn2 {
    outline: none;
    height: fit-content;
    border: 0.5px solid rgba(0, 0, 0, 0.193);
    font-weight: 400;
    border-radius: 4px;
    background-color: var(--secound-color);
    transition: var(--trasition);
    margin: auto;
    color: white;
    padding: 10px 50px;
    max-height: fit-content;
    cursor: pointer;
    text-align: center;
}
.componntBtn2:hover {
    background-color: rgb(37, 115, 137);
}
.componntBtn3 {
    outline: none;
    height: fit-content;
    border: 0.5px solid rgba(0, 0, 0, 0.193);
    font-weight: 400;
    border-radius: 4px;
    background-color: #eee;
    transition: var(--trasition);
    margin: auto;
    color: white;
    padding: 10px 50px;
    max-height: fit-content;
    cursor: pointer;
    text-align: center;
}
.componntBtn3:hover {
    background-color: #fff2f2;
}
.componntBtn4 {
    outline: none;
    height: fit-content;
    border: 0.5px solid rgba(0, 0, 0, 0.193);
    font-weight: 400;
    border-radius: 4px;
    background-color: white;
    transition: var(--trasition);
    margin: auto;
    color: white;
    padding: 10px 50px;
    max-height: fit-content;
    cursor: pointer;
    text-align: center;
}
.componntBtn4:hover {
    background-color: #fff2f2;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.up {
    transition: var(--trasition);
    animation: done 2s  alternate linear;
}
@keyframes done {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.contact {
    animation: none;
}
.wrapper .row {
    opacity: 0;
    transition: 1s;
}
.Feugiat .container {
    opacity: 0;
    transition: 1s;
}
.info .row {
    opacity: 0;
    transition: 1s;
}
.footer .container {
    opacity: 0;
    transition: 1s;
}
.last {
    opacity: 0;
    transition: 1s;
}
.up h1 {
    font-size: 50px;
}
.up p {
    font-size: 20px;
}
@media(max-width:960px) {
    .up h1 {
        font-size: 30px;
    }
    .up p {
        font-size: 15px;
    }
}
.contact {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    z-index: 1;
}
.contact i {
    opacity: 0.7;
}
.contact i:hover {
    opacity: 1;
    cursor: pointer;
}
.contact a {
    color: white;
    transition: var(--trasition);
}
.contact a:hover {
    color: red;
}
@media(max-width:885px) {
    .inputs input {
        width: 100%;
    }
}
.to-up {
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: var(--trasition);
    animation: none;
    display: none;
}
.to-up:hover {
    background-color: rgb(167, 90, 76);
}
.to-up i {
    animation: go-up 0.5s infinite alternate;
}
@keyframes go-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}
.submit,
.reset {
    transition: var(--trasition);
}
.submit:hover,
.reset:hover {
    background-color: rgb(227, 129, 112);
}
.alarm {
    transition: var(--trasition);
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.sidebar {
    top: 96px;
    left: 0;
    height: 90%;
    transition: var(--trasition);
    opacity: 0;
}
.sidebar ul li {
    padding: 30px 150px 30px 10px;
    cursor: pointer;
}
.sidebar ul li:not(:last-child) {
    border-bottom: 1px solid #eeeeee8e;
}
.sidebar ul li a {
    opacity: 0.8;
}
.sidebar ul li a:hover {
    opacity: 1;
}
.sidebar i {
    opacity: 0.8;
    cursor: pointer;
    transition: var(--trasition);
}
.sidebar i:hover {
    opacity: 1;
}
/* start-genric */
.register .container .search {
    background-color: var(--main-color);
}
.register .container .search input {
    border: none;
    outline: none;
}
.register .container .row .image img {
    animation: do 1s alternate infinite;
}

@keyframes do {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(30px);
    }
}
.search {
    box-shadow: 0 0 0 0 black;
}
.code {
    letter-spacing: 5px;
}
.forms .row input {
    border: 1px solid #ccc;
}
.forms .row input::placeholder {
    opacity: 50%;
}
.forms .row:not(:last-child) input:focus {
    border: 2px solid var(--secound-color);
}
.forms .row select {
    border: 1px solid #ccc;
}
.forms .row select option {
    color: rgba(0, 0, 0, 0.412);
}
.forms .row select:focus {
    border: 2px solid var(--secound-color);
}
.forms .radio input {
    width: 25px;
    height: 25px;
    accent-color: var(--main-color);
}
.forms .chek input {
    width: 25px;
    height: 25px;
}
.forms .row textarea {
    border: 1px solid #ccc;
    resize: none;
}
.forms .row textarea::placeholder {
    opacity: 50%;
}
.forms .row textarea:focus {
    outline: none;
    border: 2px solid var(--secound-color);
}
.search .row input {
    border: 1px solid #ccc;
}
.search .row input::placeholder {
    opacity: 50%;
}
.search .row input:focus {
    outline: none;
    border: 2px solid var(--secound-color);
}